[submodule "pico-fido"]
	path = pico-fido
	url = https://github.com/sst311212/pico-fido
	branch = patch
[submodule "pico-openpgp"]
	path = pico-openpgp
	url = https://github.com/sst311212/pico-openpgp
	branch = patch
[submodule "pico-keys-sdk"]
	path = pico-keys-sdk
	url = https://github.com/sst311212/pico-keys-sdk
	branch = patch
