[submodule "pico-fido"]
	path = pico-fido
	url = ../pico-fido.git
	branch = main
[submodule "pico-openpgp"]
	path = pico-openpgp
	url = ../pico-openpgp.git
	branch = main
[submodule "pico-keys-sdk"]
	path = pico-keys-sdk
	url = ../pico-keys-sdk.git
	branch = main
